{{!-- parse in the action to the corresponding web page --}}
<form action="/recipes/{{this.id}}?_method=put" method="POST">
    <p>
        <label for="title">Title: </label>
        {{!-- {{title}} displays the current title in the bar, can be updated if need be, so you are not putting in a blank field
        --}}
        <input type="text" value="{{title}}" name="title">
    </p>
    <p>
        <label for="href">url: </label>
        <input type="text" value="{{href}}" name="href">
    </p>
    <p>
        <label for="ingredients">Description: </label>
        <input type="text" value="{{ingredients}}" name="ingredients">
    </p>

    <input type="submit" value="Update">
</form>