{{!-- displays the information of the specified piece of data and adds buttons to input edit and delete --}}
<a href="recipes/new">Create a New Recipe</a>

<h4>{{title}}</h4>

<p>URL:
    <a href="{{href}}">{{href}}</a>
</p>
<p>{{ingredients}}</p>


<a href="edit/{{id}}">Edit This Post</a>
<form action="/recipes/{{id}}?_method=delete" method="POST">
    <input type="submit" value="delete">
</form>